@import url('https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"');
.appbar{
	background-color: #5535CC;
}
.email{
	width: 100%;
	color: #D60E0E;
}
.appheading{
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
}
.user{
	width:30px;
	height:30px;
}
